<div id="main-content" class="container">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h1>Burger Time!</h1></div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><img id="burger-img" src="/img/burger.png"></div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<p>It's time for a burger! Start by creating a burger below in the text field.  Click submit and your burger will be stored.</p>
			<p>Then, you shall eat MEAT!</p>
	</div>

	<div class="row">
		<div id="to-eat" class="col-sm-4 col-sm-offset-1">
			{{!-- <ul> 
				{{#each burgers}}
					<li>{{#notEaten this}}</li> {{/notEaten}}
				{{/each}}
			</ul> --}}
		</div>

		<div id="eaten" class="col-sm-4 col-sm-offset-2">
			<ul>
			  {{#each burgers}}
			  	  <li>
			  	    <p>{{#isEaten this}}</p>
			  	  </li>
			  	  {{/isEaten}}
			  {{/each}}
			</ul>
		</div>
	</div>

	{{!-- Form should send a post command to the server --}}
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h3>Create A Burger</h3></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4"><h5>Burger Name</h5></div>
	</div>
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<form class="create-form" method="POST" action="/create">
	 		<div class="form-group">
	    	<textarea type="text" id="name" name="burger" rows="3" cols="30"></textarea>
			</form></br>
	  	<button type="submit" id="submit">Create your burger!</button>
	  	</div>
	</div>
</div>